<div class="row mt-3">
    <div class="col-12 col-md-2">
    </div>
    <div class="col-12 col-md">
        <h3>Listado de propiedades</h3>
        <hr>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12 col-md-2">
    </div>
    <div class="col-12 col-md">
        <div class="row">
            <!-- houses -->
            <div *ngFor="let house of houses; let i = index" class="col-12 col-sm-6 col-md-4 mb-2">
                <div class="card h-100">
                    <app-mini-map [lngLat]="house.lngLat"></app-mini-map>
                    <div class="card-body">
                        <h5 class="card-title">{{house.title}}</h5>
                        <p class="card-text">{{house.description}}</p>
                    </div>
                    
                 </div>
            </div>
            <app-alone-page></app-alone-page>
    </div>
</div>
